body {
	font-family: Arial, sans-serif;
	background:
		linear-gradient(45deg, #0c093d, #3399f8);
	color: #fff;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	margin: 0;
	gap: 50px;
}

/* 3 main cards */
.main {
	color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 50px;
}

.main > div {
	text-align: center;
	background-color: #fff;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	height: 300px;
}

.clock {
	padding: 5%;
	width: 300px;
}

.volume {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 10px;
	padding-top: 5%;
	padding-bottom: 5%;
}

.settings {
	padding: 5%;
	color: #000;
}

/* Volume slider */
.slider {
	appearance: slider-vertical;
	height: 100%;
}

h1 {
	font-size: 1.5rem;
	color: green;
}

/* Main moving clock */
.time {
	font-size: 2rem;
	margin: 20px 0;
	color: #333;
}

/* Inputs for date and time */
.input-row {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.input-field {
	display: flex;
	flex-direction: column;
	align-items: center;
}

input[type="date"],
input[type="time"] {
	padding: 10px;
	font-size: 1rem;
	border: 1px solid #ccc;
	border-radius: 5px;
	width: 100%;
	max-width: 200px;
}

/* Set alarm button */
#setAlarm {
	background-color: #007bff;
	color: #fff;
	border: none;
	padding: 10px 20px;
	border-radius: 5px;
	cursor: pointer;
	font-size: 1rem;
	transition: background-color 0.3s;
}

#setAlarm:hover {
	background-color: #0056b3;
}

/* Error message for set alarm */
#errorMessage {
	color: #ff0000;
}

/* Alarm cards */
.alarms {
	text-align: left;
	color: #333;
	display: flex;
	gap: 10px;
}

/* Alarm card div */
.alarm {
	text-align: center;
	background-color: #fff;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	padding: 5%;
	width: 300px;
	height: 300px;
	
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	animation: fadeIn 0.5s ease-in-out;
	font-size: 14px;
}

.alarm-time {
	font-size: 1.5rem;
	margin: 20px 0;
	color: #333;
}

.alarm-note {
	font-size: 1rem;
	margin: 20px 0;
	color: #333;
}

.alarm-progress {
	font-size: 1rem;
	margin: 20px 0;
	color: #333;
}

.alarm-delete {
	font-size: 1.5rem;
	margin: 20px 0;
	color: #333;
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}
